<%include partials/header%>

	<h1>the great 
		<br>	
		<span id="mainColor">RGB</span>
		<br>
		color game
		</h1>

	
	<div id="stripe">
		<button id="resetbtn">New Colors</button>
		<span id="gameStatus"> </span>
		<button class="mode">Easy</button>
		<button class="mode selected" >Hard</button>
	</div>
<div id="container">

	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
	<div class="square"></div>
</div>
<%include partials/footer%>