.square{
	width: 30%;
	margin: 1.66%;
	float: left;
	background-color: yellow;
	padding-bottom: 30%;
	border-radius: 15%;
	transition: background 0.5s;
	-webkkit-transition:background 0.5s;
	-moz-transition:background 0.5s;

}
#mainColor{
	font-size: 200%;
}
#gameStatus{
	display: inline-block;
	width: 20%;
}
#container{
	
	max-width: 600px;
	margin: 20px auto;
}
body{
	background: black;
	margin:0;
	font-family: "Montserrat","Avenir";
}

h1{
	text-align: center;
	color: white;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
.wrong{
	background: white; 
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background: steelblue;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1.5px;
	font-size: inherit;
	transition: all 0.4s;
	-webkkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	outline: none;

}
button:hover {
color: white;
background: steelblue;
}